<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <title>ca marche</title>
  </head>
  <body>
    <p>lol</p>
    <%= yield %>
  </body>
</html>
